
#timeLineContent{
    position:absolute;
    left:30px; right:30px;
    top:0; bottom:0;
    margin-top: 150px;
    width: 600px;
    height: 20px;
    background-color: #132244;
}

#progressBar {
    position: absolute;
    margin-top: 5px;
    width: 0%;
    height: 10px;
    background-color: #99E2FA;
}

.lista{
    position:relative;
    margin-top: -13px;
    height: 18px;
}

.pozycja{
    position:absolute;
    display: inline;
}

.ikonaTlo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #132244;
    border: 3px solid #132244;
}

.ikona {
    margin-left: 5px;
    margin-top: 6px;
    height: 30px;
    width: 30px;
    filter: invert(100%);
}

.ikonaTlo:hover {
    background-color: green;
}

.tooltip .tooltipText{
    font-weight: normal;
    border-top: 1px solid green;
    font-size: 10px;
}

.tooltip{
    font-weight: bold;
    visibility: hidden;
    width: 80px;
    background-color: white;
    font-size: 12px;
    color: black;
    text-align: center;
    border-radius: 12%;
    padding: 5px 0;

    border: 2px solid green;
    border-radius: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -40px;
}

li.pozycja:hover .tooltip {
    visibility: visible;
}

/*--------- MEDIA QUERY------------*/
@media screen and (max-width:768px){
  #timeLineContent{
    position:absolute;
    left:30px; right:30px;
    top:0; bottom:0;
    margin-top: 150px;
    width: 0px;
    height: 0px;
    background-color: #132244;
  }

  .lista{
      position:relative;
      margin-top: -13px;
      height: 18px;
  }

  .pozycja{
      position:relative;
      /*display: block;*/
  }

  .ikonaTlo{
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: #132244;
      border: 3px solid #132244;
  }

  .ikona {
      margin-left: 5px;
      margin-top: 6px;
      height: 30px;
      width: 30px;
      filter: invert(100%);
  }

  .ikonaTlo:hover {
      background-color: green;
  }

  .tooltip .tooltipText{
      font-weight: normal;
      border-top: 0px solid green;
      font-size: 10px;
      margin-bottom: 5px;
  }

  .tooltip{

      font-weight: bold;
      visibility: visible;
      width: 200px;
      background-color: white;
      font-size: 13px;
      color: black;
      text-align: left;
      border-radius: 12%;
      padding: 5px 0;

      border: 0px solid white;
      border-radius: 5px;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 120%;
      left: 50%;
      margin-left: 60px;
  }

  li.pozycja:hover .tooltip {
      visibility: visible;
  }


}
