/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


/* CSS - RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1,7;
  color: #777;
  background-color: rgba(113, 113, 113, 0.21);
  padding: 30px;
}

/* NAGŁÓWEK */
.header{
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(0, 0, 0, 0.79)),
    url(../img/dmitri-popov-191146.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  /* Bez webkita nie działa na Safari */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

.logo-box{
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo{
  height: 60px;

}

.text-box{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary{
  color: #060606;
  text-transform: uppercase;
}

.heading-primary-main{
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

}

.heading-primary-sub1{
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.5px;
}

.heading-primary-sub2{
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 11px;
}
